*{
    text-align: center;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
h2{
    margin-top: 35px;;
}
.buttons{
    position: absolute;
    bottom:10%;
    left: 50%;
    width: 65%;
    /*background-color: red;*/
    transform: translate(-57%,0);
    display: flex;/* os dois botões ficam um do lado do outro, se não fosseo display um fica em cima e o outro em baixo*/
    gap:20px; /*para ficar um pouco separado*/
}
.button{
    width:50%;
    padding:4%;
    border: 2px solid #000;
    border-radius:5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: 2px 3px 0 #222, 4px 6px 0 #000;
}
.button:active{
    /*background-color: red;*/
    box-shadow: inset -4px 4px 0 #222; /* "afunda o botão" */
    font-size: 0.9ren;
}

main{
    /*background-color: red;*/
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}